<!DOCTYPE html>
<html>
  <head>
    <title>BarkedIn</title>
    <meta name="description" property="A place to expand and engage with your pawfessional community">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta property=”og:image” content="<%= image_url('%PUBLIC_URL%/thumbnail.png')%>"/>
    <meta property="og:description" content="A place to expand and engage with your pawfessional community">
    <script src="https://kit.fontawesome.com/39b355a591.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery.dotdotdot/4.1.0/dotdotdot.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  
  <script type="text/javascript">
    window.inLogoWhite = "<%= image_url('barked-in-logo-white.png') %>";
    window.inLogoBeige = "<%= image_url('barked-in-logo-beige.png') %>";
    window.inOnlyLogoWhite = "<%= image_url('in-only-logo-white.png') %>";
    window.defaultProfPic = "<%= image_url('default-dog.jpg') %>";
    window.creatorProfPic = "<%= image_url('linkedinprof.jpg') %>";
    window.splashDogs = "<%= image_url('splash-dogs.png') %>";
  </script>

  <body>
    <%= yield %>
  </body>
</html>
